#button {
  text-decoration: none;
  color: white;
  border: 2px solid darkslategrey;
  background-color: lightslategray;
  font-weight: bold;
  padding: 10px;
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
  text-align: center;
  border-radius: 5%;
}

#button2 {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
  text-align: center;
  border-radius: 5%;
}

table, tr {
  border: 3px solid white;
  border-collapse: collapse;
  padding: 10px;
}

td {
  border: 1px dashed white;
  padding: 10px;
  color: white;
}

#bartd {
  width: 700px;
}

#nametd {
  width: 180px;
}

#agetd {
  width: 40px
}

#td1, #td2 {
  width: 300px;
}

#td3 {
  width: 100px;
  text-align: center;
}

select {
  margin: 20px;
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: dimgray;
  color: white;
  padding: 3px 0;
  width: 150px;
  height: 35px;
  background-size: 20px;
  padding: 5px 30px 5px 10px;
  border-radius: 4px;
  outline: 0 none;
}

#bar {
  display: inline-block;
  background-color: rgb(238, 174, 177);
  height: 20px;
}

#menu1, #menu2, #menu3 {
  display: inline-block;
  width: 20%;
  border: 2px solid dimgray;
  padding: 2%;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
  margin: 2%;
  text-align: center;
  color: white;
  background-color: lightgrey;
}

h1 {
  color: white;
  display: inline-block;
}

#changeUI {
  display: inline-block;
  position: relative;
  left: 300px;
  border: 2px solid gray;
  background-color: rgb(85, 85, 85);
  padding: 15px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

body {
  background-color: rgb(76, 76, 76);
}